html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

#ps-img-md {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

.page-scroll img {
  width: 70px;
}

#main-title {
  font-weight: 200;
  margin-top: 10px;
}

.logo img {
  margin-top: -6px;
  padding: 5px;
}

p {
  margin: 0 0 1.5rem;
}

a {
  color: #26a5d3;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #16617d;
}

/* NAVIGATION */
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333;
}

.navbar {
  padding: 1.4rem 0;
  border-bottom: none;
  letter-spacing: 1px;
  background: transparent;
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-brand {
  font-weight: 600;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 1.5rem;
}

.navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  color: #e5e5e5;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  margin-right: 10px;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* JAVASCRIPT WORD TYPING */
.txt-type {
  font-size: 3em !important;
  color: #fdbf93;
  font-family: 'Inconsolata', monospace;
}

.txt-type>.txt {
  border-right: 0.1rem solid #fdbf93;
}

.top-nav-collapse {
  padding: 0;
  background-color: #333;
}

.navbar-custom.top-nav-collapse {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* SHOWCASE */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 6rem 0;
  text-align: center;
  color: #e5e5e5;
  background: url(../img/sunrise-bg.jpg) no-repeat bottom center scroll;
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.intro-body {
  display: table-cell;
  vertical-align: middle;
}

.brand-heading {
  font-size: 2.5rem;
}

.intro-text {
  font-size: 1.5rem;
}

.btn-secondary {
  transition: .6s;
  font-weight: 200;
}

.btn-secondary:hover {
  background: #333333;
  color: #C5C5C5;
}

button.certificates {
  width: 100%;
  letter-spacing: 1px;
}

.content-section {
  padding: 4rem 0 2rem;
}

#ps-img {
  width: 500px;
  padding: 0;
  margin: 0 auto;
}

#about p {
  text-align: justify;
}

.why-section {
  width: 100%;
  padding: 3rem 0;
  color: #e5e5e5;
  background: url(../img/second-banner_sm.jpg) no-repeat center center scroll;
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.why-section p {
  width: 65%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}

.certiicates {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 0;
}

.container-certificate:hover .certificate-overlay {
  opacity: 0.9;
}

.container-certificate {
  position: relative;
  width: 100%;
}

.certificate-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #C4C4C4;
}

img.certificate {
  display: block;
  height: auto;
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

/* PORTFOLIO CARDS */
.card-container {
  margin: 0 auto;
}

.card-container .container {
  margin-top: 25px;
}

.card {
  border: 1px solid #000;
  border-radius: 0px;
}

.card-image {
  height: 250px;
}

.card-image {
  height: auto;
  width: 100%;
}

.card a:hover {
  opacity: .8;
  transition: .5s;
}

.card-title {
  margin-top: 1rem;
}

.container h4 {
  font-size: 1.3em;
}

.card-btn {
  margin: 0 1.5rem 1rem;
}

.second-row {
  margin-top: 2rem;
}

p.my-work-text {
  padding: 0 20px;
}

/* CONTACT SECTION */
#contact {
  background: #333;
  color: #e5e5e5;
  padding-bottom: 9rem;
  text-align: center;
  position: relative;
}

footer {
  margin-top: 1.5rem;
  /* padding-top: 1rem; */
  height: 40px;
  text-align: center;
}

.page-scroll {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -webkit-transform;
  -moz-transition-duration: 1s;
}

ul.social-ul {
  position: absolute;
  margin: 12px 0;
  padding: 0;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}

ul.social-ul li.social-li {
  position: relative;
  list-style: none;
  margin: 0 6px;
}

ul.social-ul li.social-li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 40px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  transition: .5s;
  opacity: 0;
  filter: blur(2px);
  transform: scale(0.8);
}

ul.social-ul li.social-li:hover::before {
  transition-delay: .2s;
  opacity: .2;
  transform: scale(1);
}

ul.social-ul li.social-li a {
  width: 50px;
  height: 50px;
  display: block;
  transition: .5s;
  background: #333;
}

ul.social-ul li.social-li:hover a {
  transform: translateY(-10px);
}

ul.social-ul li.social-li a span {
  width: 100%;
  height: 100%;
}

ul.social-ul li.social-li a span::before {
  font-family: fontAwesome;
  text-align: center;
  line-height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5a6268;
  color: #ffffff;
  transform-origin: top;
  transition: transform 0.5s;
}

ul.social-ul li.social-li:hover a span::before {
  transform: rotateX(90deg) translateY(-50%);
}

ul.social-ul li.social-li a span::after {
  font-family: fontAwesome;
  text-align: center;
  line-height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e1e20;
  color: #ffffff;
  transform-origin: bottom;
  transition: transform 0.5s;
  transform: rotateX(90deg) translateY(50%);
}

ul.social-ul li.social-li:hover a span::after {
  transform: rotateX(0deg) translateY(0);
}

ul.social-ul li.social-li:nth-child(1) a span::before,
ul.social-ul li.social-li:nth-child(1) a span::after {
  content: '\f08c';
}

ul.social-ul li.social-li:nth-child(2) a span::before,
ul.social-ul li.social-li:nth-child(2) a span::after {
  content: '\f099';
}

ul.social-ul li.social-li:nth-child(3) a span::before,
ul.social-ul li.social-li:nth-child(3) a span::after {
  content: '\f082';
}

ul.social-ul li.social-li:nth-child(4) a span::before,
ul.social-ul li.social-li:nth-child(4) a span::after {
  content: '\f09b';
}

ul.social-ul li.social-li:nth-child(1) a span::after {
  background: #0077B5;
}

ul.social-ul li.social-li:nth-child(2) a span::after {
  background: #1da1f2;
}

ul.social-ul li.social-li:nth-child(3) a span::after {
  background: #3b5998;
}

ul.social-ul li.social-li:nth-child(4) a span::after {
  background: #6cc644;
}

button:focus {
  outline: 0;
}

/* CONTACT FORM */
.toggle {
  position: absolute;
  width: 68px;
  height: 35px;
  background: #9e3e13;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
}

.toggle:hover {
  background: #5a6268;
  color: white;
  transition: .5s;
}

.contact-form {
  position: fixed;
  bottom: -100%;
  left: 50%;
  height: 450px;
  transform: translate(-50%);
  width: 350px;
  background: #CECECE;
  transition: .5s;
  /* udated 28 11 18 */
  height: auto;
  padding: 10px 20px 20px 20px;
}

.contact-form.active {
  bottom: 15%;
}

.close {
  position: absolute;
  right: 0;
  top: 10;
  height: 25px;
  width: 25px;
  font-size: 1rem;
}

.close:hover { 
  color: #b13a1f;
  transition: .5s ease;
}

.fa-envelope {
  margin-top: 10px;
}

.contact-form h3 {
  font-size: 1.5rem;
  text-align: center;
}

.form-group textarea {
  resize: none;
}

.contact-btn {
  width: 100%;
}

/* Remomoves Blue border in Chrome */
input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

textarea:focus,
textarea.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/*  ! MEDIA QUERIES  */

/* 991px */
@media (max-width: 991px) {
  .site-desc p {
    font-size: .7rem;
  }

  h4.card-title {
    font-size: 1rem;
  }

  .btn-secondary {
    padding: 2px 8px;
    font-size: 1rem;
    transition: .5s;
    font-weight: 400;
  }

  button.certificates {
    font-size: 1rem;
  }

  #about {
    margin-top: 3rem;
  }

  #ps-img {
    display: none;
  }

  #ps-img-md {
    display:block;
    width: 350px;
    margin: 0;
    padding: 0;
  }

  .intro {
    background: url(../img/sunrise-bg_sm.jpg) no-repeat bottom center scroll;
  }
}

/* 768px */
@media (max-width: 768px) {
  .navbar {
    position: static;
    background-color: #333;
  }


  .navbar-brand {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .navbar ul li a {
    padding-left: 15px !important;
  }

  #main-title {
    font-size: 4rem !important;
  }

  span.txt-type {
    font-size: 2em !important;
  }

  section .intro-body {
    padding-top: 1.5rem;
  }

  #about p {
    text-align: justify !important;
    padding: 0;
  }

  #ps-img-md {
    margin: 2rem auto !important;
    width: 95%;
    text-align: center;
  }

  .col-md-6 {
    text-align: center;
  }

  .first-row .card {
    margin-top: 30px;
  }

  .second-row .card {
    margin-bottom: 30px;
  }

  .content-section h2 {
    font-size: 1.5rem;
  }

  .card-container button {
    font-size: 1rem;
    letter-spacing: .5px;
  }

  .why-section h2 {
    margin-top: 40px;
  }

  .why-section p {
    text-align: justify !important;
    padding: 0px 5px !important;
  }
}

/* 574px */
@media (max-width: 574px) {
  .logo img {
    margin-left: 3rem;
  }

  .navbar-toggler {
    margin-right: 3rem;
  }

  #main-title {
    font-size: 3rem !important;
  }

  #about {
    padding: 0 3rem;
  }

  #about p {
    padding: 0 !important;
  }

  .why-section {
    padding: 3rem 0;
    
  }
  
  .why-section p {
    width: 80%;
  }

}

/* 475px */
@media (max-width: 475px) {
  .navbar-brand {
    margin-left: 1rem;
  }

  .logo img {
    margin-left: 2rem;
  }

  .navbar-toggler {
    margin-right: 2rem;
  }

  img#ps-img {
    width: 100%;
  }

  #contact p {
    padding: 0 15px !important;
  }
}

/* 430px */
@media (max-width: 430px) {
  .navbar-brand {
    margin-left: 1rem;
  }

  #main-title {
    font-size: 2rem !important;
    font-weight: 500 !important;
  }

  .content-section h2 {
    font-size: 1.5rem;
  }

  .txt-type {
    display: none;
  }

  img#ps-img {
    width: 100%;
  }
  .why-section h2 {
    padding: 0 30px;
  }

  #portfolio {
    padding-top: 20px;
  }

  .col-lg-10 p {
    padding: 0 15px;
  }

  /* CONTACT FORM */
  .toggle {
    display: none;
  }

  .close {
    display: none;
  }

  .contact-form {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    bottom: 0;
  }

  .contact-form h3 {
    display: none;
  }
}

/* 387px */
@media (max-width: 387px) {
  #about p {
    text-align: center;
  }

  .navbar-brand {
    margin-left: .1rem;
  }

  .navbar-toggler {
    margin-right: .5rem;
  }
}

/* 350px */
@media (max-width: 350px) {
  .logo img {
    margin-left: .1rem;
  }
}

/* 334px */
@media (max-width: 334px) {
  .navbar-brand {
    margin-left: .2rem;
  }

  img#ps-img {
    width: 100%;
  }
}

/* 320px */
@media (max-width: 320px) {
  .navbar-brand {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .logo img {
    margin-left: 0rem;
  }

  .navbar-toggler {
    margin-right: 0rem;
  }
}

/* min  767px */
@media (min-width: 767px) {
  .intro {
    height: 100%;
    padding: 0;
  }

  .brand-heading {
    font-size: 6rem !important;
  }

  .intro-text {
    font-size: 1.7rem;
  }

  .why-section {
    padding: 6rem 0;
  }
}